body{
    background-color: #F893B5;
}

.main{
  margin:10px;
}

.main h1 {
padding:24px 24px;
margin:14px;
color: #fff;
}

.main2{
margin:10px;
}

.main2 h1 {
padding:24px 24px;
margin:14px;
color: #fff;
}


.main2 a{
margin:10px;
color: #fff;
}


.main3{
margin:10px;
}
  
.main3 h1 {
padding:24px 24px;
margin:14px;
color: #fff;
}

.main3 a{
margin:10px;
color: #fff;
}

  